<h2>Exercises</h2>

<ul>
  <li>Exercise name: {{exercise.name}}</li>
{{#each model as |exercise|}}
  {{exercise-list/card exercise=exercise }}
{{/each}}

</ul>
{{#link-to "application"}} home {{/link-to}}

{{!-- <li>{{exercise.weight}}</li> --}}
