<h2>Routines</h2>
components/routines.hbs
{{!-- {{routine-list/routine-create-form createRoutine="createRoutine"}}
--}}
{{routine-list routines=model}}

{{#link-to "application"}} home {{/link-to}}

{{outlet}}
